#bodyContent{
	width: 75%;
	padding: 25px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-family:  'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
	font-size: 4em;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 100;
	line-height: 1em;
}

.description {
	font-family:  'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
	font-size: 1em;
	font-style: normal;
	/*font-variant: small-caps;*/
	font-weight: 100;
    line-height: 1em;
    padding: 10px;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.bigButton {
	font-family:  'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
	font-size: 3em;
	/*width: 400px;
	height: 100px; */
	padding: 50px;
	margin: 50px auto;
	font-style: normal;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 100;
	/*font-variant: small-caps;*/
	font-weight: 100;
	line-height: 1em;
	background-color: rgba(0, 217, 255, 0);
    border: 1px solid #CCC;
}

.bigButton:hover {
	background-color: rgba(10, 217, 255, 0);
    border: 1px solid #0ca;
}

.description, .bigButton, h1, #bodyContent {
	text-align: center;
}

@media only screen and (max-width: 767px){
	.bigButton, h1{
		font-size: 5.9vw;
	}
}

.fa.fa-microphone, .fa.fa-volume-up{
	color: #2D9AFF;
}

.fa.fa-microphone-slash, .fa.fa-volume-off{
	color: #FF3636;
}